#imgContainer {
    position: relative;
    width: 100%;
    margin-top: 2%;
    height: 42%;
    background-color: #006895;
    margin-bottom: 30px;
}

#title {
    font-size: 2.5rem;
}

#img {
    width: 100%;
    height: 100%;
}

.easyAnswerBtn {
    width: 80%;
    margin-top: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#hardAnswerBtn {
    width: 80%;
    font-size: 2rem;
    margin-top: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#hardAnswerInput {
    margin-top: 5%;
    outline: none;
    font-size: 4rem;
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 0.5%;
    background: none;
    position: absolute;
    left: 0;
    margin-left: 10%;
    width: 80%;
}