#title {
    font-size: 2rem;
}

#score {
    font-size: 8rem;
    color: aliceblue;
    margin-top: 20%;
    margin-bottom: 50%;
}

.resultBtn {
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}