.startBtn {
    width: max-content;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 7%;
}