.eazyBtn {
    width: 80%;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 25%;
}

.hardBtn {
    font-size: 2rem;
    width: 80%;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 15%;
}