* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

#background {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40%;
    height: 100%;
    background-color: #00A2E8;
    text-align: center;
}

#title {
    font-family: kim;
    font-size: 4rem;
    color: aliceblue;
    z-index: 1;
    margin-top: 2%;
    text-align: center;
}

.btn {
    font-family: kim;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 15px;
}