@font-face {
    font-family: kim;
    src: local(NanumYaGeunHaNeunGimJuIm);
}

#poze-box {
    position: relative;
    background-color: #006895;
    width: 90%;
    height: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

#pozeImg {
    margin-top: 30px;
    width: 70%;
    height: 70%;
}

#quiz-box {
    position: relative;
    float: left;
    background-color: #006895;
    width: 42%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

#quizImg {
    width: 100%;
}

#recommend-box {
    position: relative;
    float: right;
    background-color: #006895;
    width: 42%;
    height: 30%;
    margin-top: 5%;
    margin-right: 5%;
}

.indexBtn {
    width: max-content;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}